<div id="user_profile">
  <h4>My Events</h4>
  <% if @user.courses.size == 0 %>
    <h5>You haven't added any courses. Add some <%= link_to 'here.', '/add_courses' %></h5>
  <% end %>

  <% @user.courses.ordered.each do |course| %>
    <h5><%= course.title_name %></h5>
    <div class="blue_bar"></div>

  <div class="course_events">
    <% @user.events.by_course(course.id).each do |event| %>
      <div class="row">
        <div class="large-12 columns">
          <ul class="small-block-grid-2">
            <li>
              <h5 class="gray_text"><%= event.name %></h5>
              <%= event.start_time_formatted %><br>
              <%= event.start_formatted_time %>-<%= event.end_formatted_time %><br>
              <%= event.location %><br>
              <%= event.attending.count %> Attending<br>
            </li>
            <li>
              <%= link_to 'Edit', edit_event_path(event), class: 'button small secondary cal-blue fixed-width-small' %><br>
              <%= link_to 'Send Update', edit_event_path(event), class: 'button small secondary cal-blue fixed-width-small' %><br>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>