<div id="user_attending">
  <h4>Events I'm Attending</h4>

  <% @user.courses.each do |course| %>
    <h5><%= course.title_name %></h5>
    <div class="blue_bar"></div>

  <div class="course_events">
    <% @user.rsvps.attending.each do |rsvp| %>
      <% event = rsvp.event %>
      <% if event.courses.where(id: course.id).size > 0 %>
      <div class="row">
        <div class="large-12 columns">
          <ul class="small-block-grid-2">
            <li>
              <%= event.name %><br>
              <%= event.start_time_formatted %><br>
              <%= event.start_formatted_time %>-<%= event.end_formatted_time %><br>
              <%= event.location %><br>
            </li>
            <li>
              <%= link_to 'Edit', edit_event_path(event), class: 'button small secondary cal-blue fixed-width-small' %><br>
              <%= link_to 'Send Update', edit_event_path(event), class: 'button small secondary cal-blue fixed-width-small' %><br>
            </li>
          </ul>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>