<div id="new_event_form">
  <%= form_for @event do |f| %>

    <%= f.label :name, "Event Name" %>
    <%= f.text_field :name %>

    <%= f.label :course %>
    <%= select_tag :course_id, options_from_collection_for_select(@courses, :id, :title_name), :class => 'select_course_box' %>

    <%= f.label :start_time, 'Starts At' %>
    <div id="datetimepicker1" class="input-append date">
      <%= f.text_field :start_time, data: {format: "yyyy-MM-dd hh:mm:ss"} %>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
        </i>
      </span>
    </div>

    <%= f.label :end_time, 'Ends At' %>
    <div id="datetimepicker2" class="input-append date">
      <%= f.text_field :end_time, data: {format: "yyyy-MM-dd hh:mm:ss"} %>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
        </i>
      </span>
    </div>

    <%= f.label :location %>
    <%= f.text_field :location %>

    <%= f.label :more_info, 'Extra Information' %>
    <%= f.text_area :more_info, size: '100x5' %>

    <%= hidden_field_tag :id, current_user.id %>

    <br>

    <center><%= f.submit class: 'button secondary cal-blue pseudobutton' %></center>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    val1 = $("#event_start_time")[0].value;
    $("#event_start_time")[0].value = val1.substring(0, val1.length - 7);
    val2 = $("#event_end_time")[0].value;
    $("#event_end_time")[0].value = val2.substring(0, val2.length - 7);

    $('#datetimepicker1').datetimepicker({ pick12HourFormat: true });
    $('#datetimepicker2').datetimepicker({ pick12HourFormat: true });
  });

  $("td.day").click(function() {
    console.log('clicked');
    $(".bootstrap-datetimepicker-widget").hide();
  });

</script>