<h4>Search by Class or Event Name</h4>
  <form action="<%= events_path %>" method="get" >
    <div class="input-append">
      <%= text_field_tag :q, params[:q], autofocus: "autofocus", id: "search_field", placeholder: "Search by class or event" %>  
      <%= submit_tag "Search", name: nil, class: 'btn search_button' %>
    </div>
  </form>
  <br>

<% @events.map(&:courses).flatten.uniq.each do |course| %>
  <h5><%= course.title_name %></h5>
  <div class="blue_bar"></div>

  <h5>Today</h5>
  <% @events.today.by_course(course.id).each do |event| %>
    <%= render 'events/event', event: event %>
  <% end %>

  <h5>Tomorrow</h5>
  <% @events.tomorrow.by_course(course.id).each do |event| %>
    <%= render 'events/event', event: event %>
  <% end %>

  <h5>Later This Week</h5>
  <% @events.this_week.by_course(course.id).each do |event| %>
    <%= render 'events/event', event: event %>
  <% end %>

  <h5>Later This Month</h5>
  <% @events.rest_upcoming.by_course(course.id).each do |event| %>
    <%= render 'events/event', event: event %>
  <% end %>

<% end %>