<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<% if current_user %>
  <div id="add_courses">
    <h4>Add your courses!</h4>

    <%= form_for current_user, :url => {:controller => "users", :action => "add_course"} do |f| %>
      <%= select_tag :course_id, options_from_collection_for_select(@courses, :id, :title_name), :class => 'select_course_box' %>
      <%= hidden_field_tag :id, current_user.id %>
      <%= submit_tag 'Add Course' %>
    <% end %>

  </div>

  <div id="user_courses">
    <h4>Your current courses:</h4>

    <table class="table">
      <tr>
        <th>Course</th>
        <th>Action</th>
      </tr>
      <% current_user.courses.each do |course| %>
      <tr>
        <td><%= link_to course.title_name, course %></td>
        <td><%= link_to 'remove', :controller => :users, :action => :remove_course, id: current_user.id, course_id: course.id %></td>
      </tr>
      <% end %>
    </table>
  </div>

  <%= button_to 'Submit', '/start', :method => :get %>
<% end %>