<h2>Settings</h2>

<div id="add_courses">
  <h4>Add your courses!</h4>

  <%= form_for current_user, :url => {:controller => "users", :action => "add_course"} do |f| %>
    <%= select_tag :course_id, options_from_collection_for_select(@courses, :id, :title_name), :class => 'select_course_box' %>
    <%= hidden_field_tag :id, current_user.id %>
    <%= submit_tag 'Add Course' %>
  <% end %>

</div>

<div id="user_courses">
  <h4>My current courses:</h4>

  <table class="table">
    <tr>
      <th>Course</th>
      <th>Action</th>
    </tr>
    <% current_user.courses.each do |course| %>
    <tr>
      <td><%= course.title_name %></td>
      <td><%= link_to 'remove', :controller => :users, :action => :remove_course, id: current_user.id, course_id: course.id %></td>
    </tr>
    <% end %>
  </table>
</div>

<center><%= link_to "Events I've Created", my_events_path, class: 'button secondary cal-blue fixed-width' %></center>
<center><%= link_to "Events I'm Attending", attending_path, class: 'button secondary cal-gold fixed-width' %></center>
<center><%= link_to "Logout", logout_path, class: 'button secondary cal-blue fixed-width' %></center>