<h2>Settings</h2>

<div id="add_courses">
  <h4>Add your courses!</h4>

  <%= form_for current_user, :url => {:controller => "users", :action => "add_course"} do |f| %>
    <%= text_field_tag :q, params[:q], autofocus: "autofocus", id: "search_field" %>  
    <%= hidden_field_tag :id, current_user.id %>
    <br>
    <center><%= submit_tag 'Add Course', class: 'button secondary cal-blue fixed-width' %></center>
  <% end %>

</div>

<div id="user_courses">
  <h4>My current courses:</h4>

  <table class="table">
    <tr>
      <th>Course</th>
      <th>Action</th>
    </tr>
    <% current_user.courses.each do |course| %>
    <tr>
      <td><%= course.title_name %></td>
      <td><%= link_to 'remove', :controller => :users, :action => :remove_course, id: current_user.id, course_id: course.id %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="row">
  <div class="large-12 columns center">
      <%= link_to "Events I've Created", my_events_path, class: 'button secondary cal-blue fixed-width' %><br>
      <%= link_to "Events I'm Attending", attending_path, class: 'button secondary cal-gold fixed-width' %><br>
      <%= link_to "Create Event", new_event_path, class: 'button secondary cal-blue fixed-width' %><br>
      <%= link_to "Logout", logout_path, class: 'button secondary cal-gold fixed-width' %><br>
    </ul>
  </div>
</div>

<script type="text/javascript">

  $('#search_field').autocomplete({
    minLength: 2,
    delay: 500,
    source: '/autocomplete_courses.js'
  });

</script>