<h2>Settings</h2>

<div id="add_courses">
  <h4>Add your courses!</h4>

  <%= form_for current_user, :url => {:controller => "users", :action => "add_course"} do |f| %>
    <%= text_field_tag :q, params[:q], autofocus: "autofocus", id: "add_course_field" %>  
    <%= hidden_field_tag :id, current_user.id %>
    <br>
    <center><%= submit_tag 'Add Course', class: 'button secondary cal-blue fixed-width' %></center>
  <% end %>

</div>

<div id="user_courses">
  <h4>My current courses:</h4>

  <table class="table">
    <tr>
      <th>Course</th>
      <th>Action</th>
    </tr>
    <% current_user.courses.each do |course| %>
    <tr>
      <td><%= course.title_name %></td>
      <td><%= link_to 'remove', :controller => :users, :action => :remove_course, id: current_user.id, course_id: course.id %></td>
    </tr>
    <% end %>
  </table>
</div>

<center><%= link_to "Save", root_url, class: 'button secondary cal-gold fixed-width' %></center><br>
<center><%= link_to "Edit My Events", my_events_path, class: 'button secondary cal-blue fixed-width' %></center><br>
<center><%= link_to "Logout", logout_path, class: 'button secondary cal-gold fixed-width' %></center>


<script type="text/javascript">

  $('#add_course_field').autocomplete({
    minLength: 2,
    delay: 500,
    source: '/autocomplete_courses.js'
  });

</script>